<div id="<%= container_id %>">
  <%= placeholder %>
</div>

<% content_for :render_async do %>
  <%= javascript_tag html_options do %>
    <%= render partial: 'render_async/request',
               formats: [:js],
               locals:  { container_id: container_id,
                          path: path,
                          event_name: event_name } %>
  <% end %>
<% end %>
